body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

.button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button1 {
  font: inherit;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover,
.button1:hover {
  /* background-color: rgb(237,90,61, 0.8); */
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active,
.button1:active {
  /* background-color: rgb(237,90,61);
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1); */
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-nav-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item > a:hover,
.user-search a:hover,
.user-login a:hover {
  border-radius: 20px;
  background-color: rgb(247, 246, 243);
  color: #323232;
  text-decoration: none;
}

.nav-item > .page-current {
  background-color: rgb(208, 112, 88);
  border-radius: 20px;
  text-decoration: none;
}

.nav-item > a {
  position: relative;
  background: none;
  padding: 7px 14px;
}

.nav-item:hover > a  {
  border-radius: 15px;
  background-color: rgb(247, 246, 243);
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
}

.main-nav-list > li:hover .catalog-list,
.user-search:hover .search-popup,
.user-login:hover .login-popup {
  display: block;
}

.nav-item > a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

.main-nav-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
}

.catalog-list {
  display: none;
  position: absolute;
  left: -20px;
  top: 29px;
  width: 144px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  list-style: none;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-list a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
  padding: 9.3px 20px;
}

.catalog-list a:hover {
  background-color: #fbded8;
}

.list-item1 {
  position: relative;
}

.list-item1::after {
  content: "";
  position: absolute;
  left: 7px;
  right: 0;
  width: 128px;
  height: 1px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
}

.list-item1 a:hover {
  border-radius: 5px 5px 0 0;
}

.last-item a:hover {
  border-radius: 0 0 5px 5px;
}

.user-search,
.user-login,
.user-basket {
  position: relative;
}

.user-search > a {
  padding: 8px 16px;
  background-color: #a1b4a9;
  border-radius: 50%;
}

.user-search svg {
  position: absolute;
  top: 4px;
  left: 7px;
  z-index: 10;
}

.user-login > a,
.user-basket > a {
  padding: 8px 16px;
  padding-left: 45px;
  background-color: #a1b4a9;
  border-radius: 20px;
}

.user-login svg,
.user-basket svg {
  position: absolute;
  top: 4px;
  left: 16px;
  z-index: 10;
}

.user-login:hover a,
.user-login:hover path,
.user-login:hover polygon,
.user-search:hover a,
.user-search:hover path {
fill: #323232;
color: #323232;
background-color: rgb(247, 246, 243);
}

.footer-info a:hover,
.footer-info a:active,
.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
}

.login-popup a:hover,
.login-popup a:active,
.blog-new a:hover,
.blog-new a:active {
color: #e84d37;
}

.catalog-list a:active {
  background-color: #f6b5a5;
}

.list-item1 a {
  font-weight: 700;
}

.list-item1 a::after {
  content: "";
  position: absolute;
  top: 25px;
  border-bottom: 1px solid blue;
  background-color: red;
}

.user-nav a {
  text-decoration: none;
  font-weight: 700;
}

.user-nav a,
.header-contacts {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.open-search,
.open-login,
.empty-basket {
  background-color: rgb(255, 255, 255, 0.2);
}

.header-contacts,
.main-contact,
.provider-info {
  font-weight: 700;
}

.header-contact {
  font-size: 22px;
  line-height: 24px;
}

.main-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.features {
  background-image: url("../img/Waffle_pattern.png");
  background-color: #e5d4b1;
  background-position: 0 0;
  background-repeat: repeat;
}

.feature-list {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  list-style: none;
}

.blog-new {
  text-decoration: underline;
  background-color: #ffffff;
  background-image: url("../img/Strawberry_background.png");
  background-repeat: no-repeat;
}

.main-slider-list {
  list-style: none;
}

.slide-title {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
}

.inactive-slide {
  display: none;
}

.special-offer-list {
  list-style: none;
}

.offer-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.hit-offer-list {
  list-style: none;
}

.hit-title > a,
.item-title > a {
  font: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.blog-new a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.mailing {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.main-contacts {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fffffe;
}

.main-contact {
  font-size: 18px;
  line-height: 24px;
}

.main-contacts-info a:active .feedback-popup {
  display: none;
}

.footer-info,
.footer-social {
  list-style: none;
}

.footer-info a,
.footer-social a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.user-search {
  position: relative;
}

.search-popup {
  display: none;
  position: absolute;
  right: 0;
  top: 29px;
  width: 341px;
  height: 84px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.search-popup input[type="search"] {
  width: 311px;
  height: 44px;
  margin-top: 20px;
}

.search-popup button {
  display: none;
}

.user-login {
  position: relative;
}

.login-popup {
  display: none;
  position: absolute;
  right: 0;
  top: 29px;
  width: 277px;
  height: 194px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding-top: 20px;
  }

.login-popup input[type="email"],
.login-popup input[type="password"] {
  width: 241px;
  height: 44px;
  margin-bottom: 20px;
}

.login-popup .restore,
.login-popup .registration {
  font: inherit;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  display: block;
  margin-left: 139px;
  text-align: left;
}

.login-popup .restore {
  margin-top: -5px;
}

.login-popup button[type="submit"] {
  position: absolute;
  top: 153px;
  left: 19px;
  width: 100px;
  height: 44px;
}

.feedback-popup {
  display: none;
  position: absolute;
  left: 5px;
  width: 453px;
  height: 423px;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  padding-left: 24px;
  padding-top: 19px;
  text-align: left;
}

.feedback-popup p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #323232;
  margin: 0;
  margin-bottom: 20px;
}

.feedback-popup input[type="text"],
.feedback-popup input[type="email"] {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
}

.feedback-popup textarea {
  width: 429px;
  height: 155px;
  margin-bottom: 15px;
}

.feedback-popup button[type="submit"] {
  width: 139px;
  height: 44px;
  margin-left: 295px;
  text-align: center;
}

.close-feedback-form {
  position: absolute;
  top: 15px;
  left: 445px;
  width: 18px;
  height: 17px;
  text-indent: -1000px;
  background-image: url("../img/Cross.png");
  background-repeat: no-repeat;
  background-position: center;
}

input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"],
.feedback-popup textarea {
  font: inherit;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {
  outline-color: #c7c6c5;
}

.modal {
  color: #323232;
  background-color: #f8f7f4;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.current-page > a {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #ed5a3d;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
}

.creamy-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 32px;
  margin-top: 16px;
}

.breadcrumbs {
  list-style: none;
}

.filter-form ul {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
}

.user-basket {
  position: relative;
}

.basket {
  width: 118px;
}

.full-basket > a {
  color: #323232;
}

.full-basket:hover > a {
  background-color: #f7f6f3;
}

.user-basket:hover .basket-popup {
  display: block;
}

.basket-popup {
  display: none;
  position: absolute;
  right: 0;
  top: 29px;
  width: 510px;
  padding-top: 7px;
  padding-left: 16px;
  padding-bottom: 21px;
  padding-right: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border-radius: 6px;
  color: #323232;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.basket-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.basket-list li {
  width: 490px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket-list h3 {
  width: 216px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.basket-list  a {
  width: 11px;
  height: 11px;
  background-image: url("../img/Cross.png");
  order: -2;
}

.basket-item-img {
  order: -1;
}

.basket-item-img img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.basket-price {
  color: #999999;
}

 .total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
}

.basket-popup > a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700px;
  width: 170px;
  height: 34px;
  padding-top: 10px;
  text-align: center;
  margin-left: auto;
}

.basket-list li:last-child {
  position: relative;
}

.basket-list li:last-child::after {
  content: "";
  position: absolute;
  left: 0;
  top: 65px;
  width: 510px;
  height: 1px;
  background-image: url("../img/line.png");
  background-repeat: repeat;
  z-index: 10;
}

.page-catalog-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.frontpage-item-price,
.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.pagination-list {
  list-style: none;
}

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.map-container {
  width: 1200px;
  margin: 0 auto;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 9px;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 24px;
  width: 675px;
}

.main-nav-list > li:first-child {
  margin-right: 14px;
}

.main-nav-list > li {
  margin-right: 28px;
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  width: 267px;
  padding-left: 26px;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}

.user-nav div:not(:last-child) {
  margin-right: 10px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  width: 167px;
  padding-right: 0;
  text-align: right;
  margin-top: 0;
  margin-left: auto;
}

.main-slider {
  margin-bottom: 52px;
}

.main-slider-list {
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 240px;
}

.main-slider-list li {
  margin-top: 280px;
}

.slider-img {
  position: absolute;
  top: -327px;
  left: 11px;
  z-index: -1;
}

.main-slider-list a {
  margin-left: 195px;
  padding: 12px 40px;
}

.main-slider-list h3 {
  width: 670px;
  margin-bottom: 40px;
}

.slider-controls {
  position: absolute;
  top: 560px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}

.slide {
  display: none;
}

#product-1:checked ~ .main-slider-list #slide1,
#product-2:checked ~ .main-slider-list #slide2,
#product-3:checked ~ .main-slider-list #slide3 {
  display: block;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
  background-color: #ffffff;
}

.special-offers {
  margin-bottom: 15px;
}

.special-offer-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.special-offer-list li {
  padding-left: 18px;
  padding-right: 23px;
  width: 519px;
  min-height: 230px;
  border-radius: 17px;
}

.special-offer-list li:first-child {
  background-image: url("../img/Raspberries_background.jpg");
  background-repeat: no-repeat;
}

.special-offer-list li:last-child {
  background-image: url("../img/Chocolate_background.jpg");
  background-repeat: no-repeat;
}

.special-offer-list h3 {
  margin-top: 19px;
  margin-bottom: 10px;
}

.special-offer-list p {
  margin-top: 0;
  margin-bottom: 43px;
}

.special-offer-list .offer-btn1 {
  width: 167px;
}

.special-offer-list .offer-btn2 {
  width: 189px;
}

.special-offer-list a {
  display: block;
  height: 35px;
  margin-left: auto;
  text-align: center;
  padding-top: 11px;
}

.hit-offers {
  margin-bottom: 15px;
}

.hit-offer-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.hit-offer-list li {
  position: relative;
  width: 267px;
  margin-left: 26px;
  text-align: center;
}

.hit-offer-list li:first-child {
  margin-left: 0;
}

.frontpage-item-img {
  margin-bottom: 5px;
}

.frontpage-item-img::before {
    content: "";
    width: 61px;
    height: 61px;
    position: absolute;
    background-image: url("../img/hit.png");
}

.frontpage-item-img img {
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.hit-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 0;
}

.frontpage-item-price {
  position: absolute;
  top: 180px;
}

.features {
  width: 1092px;
  min-height: 297px;
  border-radius: 15px;
  margin-bottom: 40px;
  padding-top: 10px;
}

.main-title {
  margin-bottom: 20px;
}

.feature-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1030px;
  margin-left: 55px;
  margin-right: auto;
  justify-content: space-between;
}

.feature-list li {
  position: relative;
  width: 482px;
  margin-bottom: 20px;
}

.feature-list li::before {
  position: absolute;
  top: -12px;
  left: -55px;
  content: "";
  width: 49px;
  height: 49px;
}

.feature-list li:first-child::before {
  background-image: url(../img/Icecream_icon.svg);
}

.feature-list li:nth-child(2)::before {
  background-image: url(../img/Cow_icon.svg);
}

.feature-list li:nth-child(3)::before {

  background-image: url(../img/Leaf_icon.svg);
}

.feature-list li:last-child::before {
  background-image: url(../img/Thermometer_icon.svg);
}

.news {
  width: 1146px;
  min-height: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-new {
  border-radius: 15px;
  width: 540px;
  padding-left: 20px;
  padding-top: 5px;
}

.news-title,
.blog-new a {
  display: block;
  width: 281px;
}

.blog-new a {
  margin-top: -10px;
}

.mailing {
  border-radius: 15px;
  width: 530px;
  padding-left: 20px;
  padding-top: 10px;
  border: 5px solid white;
  border-image-source: url("../img/Post_background.svg");
  border-image-slice: 5;
}

.mailing form {
  margin-top: 30px;
}

.mailing input[type="email"] {
  width: 366px;
  height: 40px;
}

.mailing button[type="submit"] {
  margin-left: 5px;
  height: 44px;
  width: 129px;
}

.main-contacts {
  width: 1200px;
  height: 430px;
  background-image: url("../img/map.png");
}

.main-contacts-info {
  display: inline-block;
  width: 277px;
  min-height: 290px;
  padding-left: 25px;
  padding-top: 15px;
  margin-left: 870px;
  margin-top: 65px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
}

.feedback-open {
  display: inline-block;
  width: 251px;
  height: 34px;
  padding-top: 10px;
  text-align: center;
  margin-top: 14px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
  min-height: 85px;
}

.footer-social,
.footer-info {
  margin: 0;
  padding: 0;
}

.footer-social {
  width: 267px;
  padding-right: 26px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social li {
  margin-right: 11px;
}

.footer-social svg {
  width: 32px;
  height: 32px;
  border: 2px solid rgb(194,206,202, 0.6);
  border-radius: 50%;
}

.footer-social path,
.footer-social rect {
  fill: #e6ebe9;
}

.footer-social li:hover path,
.footer-social li:hover rect {
  fill: #ffffff;
}

.footer-social li:hover svg {
  border-color: rgb(194,206,202, 1)
}

.footer-social li:active path,
.footer-social li:active rect {
  fill: #e6ebe9;
}

.footer-social li:active svg {
  border-color: rgb(194,206,202, 0.8);
}

.provider-info {
  position: relative;
}

.provider-info::before {
  content: "";
  width: 15px;
  height: 14px;
  position: absolute;
  top: 8px;
  right: 117px;
  background-image: url("../img/heart_icon.svg");
  background-repeat: no-repeat;
}

.footer-info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 305px;
  padding-left: 29px;
  padding-right: 26px;
  margin-left: auto;
  margin-right: auto;
}

.footer-info li:nth-child(2) {
  margin-left: 32px;
}

.footer-info li:nth-child(4) {
  margin-left: 45px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  width: 267px;
  padding-left: 26px;
}

.footer-copyright img,
.footer-copyright a {
  display: block;
  padding: 0;
  align-self: center;
  width: 108px;
  height: 39px;
}

.footer-copyright p {
  margin-top: 5px;
  margin-left: auto;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs li:not(:first-child)::before {
  position: absolute;
  left: -12px;
  content: "\00BB";
  width: 8px;
  height: 8px;
}

.Главная__»__Каталог__»__Сливочное {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.143;
  text-align: left;
  position: absolute;
  left: 25.797px;
  top: 98.499px;
  z-index: 153;
}


.filter-form {
  width: 1000px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.filter-name {
  display: block;
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter-form form {
  display: flex;
  flex-wrap: wrap;
}

.filter-fat,
.filter-fill {
  margin: 0;
  padding: 0;
}

.filter-form select,
.filter-fat,
.filter-fill {
  margin-right: 15px;
}

.filter-form select {
  width: 193px;
  height: 36px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  color: #ffffff;
  padding-left: 16px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 17px;
  background-color: #a1b4a9;
  border: none;
  border-radius: 20px;
}

.filter-form select:hover {
  color: #323232;
}

.filter-form button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #a6b7ae;
  border: 2px solid #ffffff;
  border-radius: 20px;
  height: 36px;
}

.filter-form button:hover {
  background-color: #fbfcfb;
  border-color: #fbfcfb;
  color: #353535;
}

.filter-form button:active {
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #353535;
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

.filter-range {
  width: 218px;
  margin-right: 15px;
}

.filter-range-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 15px;
}

.range-controls {
  position: relative;
  background-color: #9db1a5;
  padding: 7px 21px;
  border-radius: 20px;
  width: 176px;
  height: 22px;
}

.range-controls .scale {
  margin-top: 10px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  position: absolute;
  left: 40px;
  width: 45%;
  height: 4px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 36px;
}

.range-toggle-max {
  left: 60%;
}

.filter-form fieldset {
  border: none;
}

.fat-list,
.fill-list {
  height: 22px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 0;
  padding-left: 47px;
  padding-right: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
  background-color: #a1b4a9;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  vertical-align: bottom;
}

.fat-list {
  width: 350px;
}

.fill-list {
  width: 637px;
}

.fat-list li:not(:last-child) {
  margin-right: 49px;
}

.fill-list li:not(:last-child) {
  margin-right: 49px;
}

.fat-list label {
  position: relative;
}

.fat-list label::before {
  position: absolute;
  top: 0;
  left: -33px;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 4px solid #eef1ef;
  border-radius: 50%;
}

.fat-list input:checked ~ label::before {
  background-image: url("../img/circle-on.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fill-list label {
  position: relative;
}

.fill-list label::before {
  position: absolute;
  top: 0;
  left: -33px;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #eef1ef;
  border-radius: 20%;
}

.fill-list input:checked ~ label::before {

}

.page-catalog-list li:hover .quick-view {
  display: block;
}

.quick-view {
  display: none;
  position: absolute;
  width: 293px;
  height: 405px;
  top: 10px;
  left: -13px;
  z-index: 2;
  border-radius: 5px;
  background-color: rgb(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.quick-view a {
  position: absolute;
  bottom: 20px;
  left: 50px;
  display: block;
  width: 200px;
  height: 34px;
  padding-top: 10px;
  text-align: center;
  margin-top: auto;
  z-index: 2;
}

.catalog-item-img {
  margin-bottom: 0;
}

.catalog-item-img img {
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.page-catalog-list {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  position: relative;
  display: flex;
  width: 1150px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 265px;
  position: relative;
}

.item-title {
  margin-top: 0;
  text-align: center;
  order: 1;
  font-size: 16px;
  text-height: 22px;
  font-weight: 400px;
}

.catalog-item-price {
  position: absolute;
  bottom: 35px;
  font-size: 45px;
  text-height: 45px;
  font-weight: 700px;
}

.pagination-list {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 10px;
}

.pagination-list .next {
  padding-right: 0;
}

.pagination-list .prev {
    padding-left: 0;
}

.pagination-list li:not(:last-child) {
  margin-right: 1px;
}

.pagination-list .current-page1 {
  background-color: #ffffff;
  border-radius: 50%;
  color: #323232;
}

.prev  svg {
  transform: rotate(180deg);
}

.prev svg path {
  fill: #9bafa4;
}

.pagination-list a:not(.current-page1):not(.prev):not(.next):hover {
  background-color: #9db1a5;
  border-radius: 50%;
}

.pagination-list a:not(.current-page1):not(.prev):not(.next):active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}


.pagination-list::after {
  content: "";
  position: absolute;
  top: 60px;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.4;
}
