body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  background-color: #87a193;
}

.button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #ed5a3d;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 700;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.main-nav-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item > a:hover,
.user-search a:hover,
.user-login a:hover {
  border-radius: 20px;
  background-color: rgb(247, 246, 243);
  color: #323232;
  text-decoration: none;
}

.nav-item a {
  padding: 7px 13px;
}

.nav-item:hover>a  {
  border-radius: 20px;
  background-color: rgb(247, 246, 243);
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
}

.main-nav-list>li:hover .catalog-list,
.user-search:hover .search-popup,
.user-login:hover .login-popup {
  display: block;
}

.nav-item>a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.main-nav-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
}

.catalog-list {
  display: none;
  position: absolute;
  left: 17px;
  top: 29px;
  width: 144px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  list-style: none;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}


.catalog-list a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
  margin-left: -25px;
  padding: 11px 20px;
}

.catalog-list a:hover {
background-color: #fbded8;
}

.list-item1 {
  position: relative;
}



.list-item1::after {
  content: "";
  position: absolute;
  right: 8px;
  width: 128px;
  height: 1px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
}

.list-item1 a:hover {
  border-radius: 5px 5px 0 0;
}

.last-item a:hover {
  border-radius: 0 0 5px 5px;
}

.user-search,
.user-login,
.user-basket {
  position: relative;
}

.user-search > a {
  padding: 8px 16px;
  background-color: #a1b4a9;
  border-radius: 50%;
}

.user-search svg {
  position: absolute;
  top: 4px;
  left: 7px;
  z-index: 10;
}

.user-login > a,
.user-basket > a {
  padding: 8px 16px;
  padding-left: 45px;
  background-color: #a1b4a9;
  border-radius: 20px;
}

.user-login svg,
.user-basket svg {
  position: absolute;
  top: 4px;
  left: 16px;
  z-index: 10;
}

.user-login:hover a,
.user-login:hover path,
.user-login:hover polygon,
.user-search:hover a,
.user-search:hover path {
fill: #323232;
color: #323232;
background-color: rgb(247, 246, 243);
}

.footer-info a:hover,
.footer-info a:active,
.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
}

.login-popup a:hover,
.login-popup a:active,
.blog-new a:hover,
.blog-new a:active {
color: #e84d37;
}

.catalog-list a:active {
  background-color: #f6b5a5;
}

.list-item1 a {
  font-weight: 700;
}

.list-item1 a::after {
  content: "";
  position: absolute;
  top: 25px;
  border-bottom: 1px solid blue;
  background-color: red;
}

.user-nav a {
  text-decoration: none;
  font-weight: 700;
}

.user-nav a,
.header-contacts {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.open-search,
.open-login,
.empty-basket {
  background-color: rgb(255, 255, 255, 0.2);
}

.header-contacts,
.main-contact,
.provider-info {
  font-weight: 700;
}

.header-contact {
  font-size: 22px;
  line-height: 24px;
}

.main-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.features {
background-image: url("../img/Waffle_pattern.png");
background-color: #e5d4b1;
background-position: 0 0;
background-repeat: repeat;
}

.feature-list {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  list-style: none;
}

.blog-new {
  text-decoration: underline;
  background-color: #ffffff;
  background-image: url("../img/Strawberry_background.png");
  background-repeat: no-repeat;
}

.main-slider-list {
  list-style: none;
}

.slide-title {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
}

.inactive-slide {
display: none;
}

.special-offer-list {
  list-style: none;
}

.offer-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.hit-offer-list {
  list-style: none;
}

.hit-title>a,
.item-title>a {
  font: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.blog-new a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.mailing {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.main-contacts {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fffffe;
}

.main-contact {
  font-size: 18px;
  line-height: 24px;
}

.footer-info,
.footer-social {
list-style: none;
}

.footer-info a,
.footer-social a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.footer-copyright,
.footer-copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.user-search {
  position: relative;
}

.search-popup {
  display: none;
  position: absolute;
  right: 0;
  top: 29px;
  width: 341px;
  height: 84px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.search-popup input[type="search"] {
  width: 311px;
  height: 44px;
  margin-top: 20px;
}

.search-popup button {
  display: none;
}

.user-login {
  position: relative;
}

.login-popup {
  display: none;
  position: absolute;
  right: 0;
  top: 29px;
  width: 277px;
  height: 214px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  }

.login-popup input[type="email"],
.login-popup input[type="password"] {
  width: 241px;
  height: 44px;
  margin-top: 20px;
}

.login-popup .restore,
.login-popup .registration {
  font: inherit;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  display: block;
  margin-left: 139px;
  text-align: left;
}

.login-popup .restore {
  margin-top: 15px;
}

.login-popup .registration {
  margin-bottom: 20px;
}

.login-popup button[type="submit"] {
  position: absolute;
  top: 153px;
  left: 19px;
  width: 100px;
  height: 44px;
}

.feedback-popup {
  position: absolute;
  left: 5px;
  width: 427px;
  height: 442px;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  padding-left: 24px;
  padding-right: 25px;
}

.feedback-popup p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #323232;
}

.feedback-popup input[type="text"],
.feedback-popup input[type="email"] {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
}

.feedback-popup textarea {
  width: 428px;
  height: 155px;
}

.feedback-popup button[type="submit"] {
  width: 139px;
  height: 44px;
  margin-left: 295px;
  margin-top: 5px;
}

.feedback-popup button[type="button"] {
  position: absolute;
  top: 30px;
  left: 430px;
}

input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"],
.feedback-popup textarea {
  font: inherit;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {
  outline-color: #c7c6c5;
}

.button1 {
  font: inherit;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #ed5a3d;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
}

.modal {
  color: #323232;
  background-color: #f8f7f4;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.current-page>a {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #ed5a3d;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
}

.creamy-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.filter-form ul {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
}

.user-basket {
  position: relative;
}

.basket {
  width: 118px;
}

.basket-popup {
  position: absolute;
  right: 10px;
  width: 540px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border-radius: 6px;
  color: #323232;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  vertical-align: top;
}

.basket-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.basket-list li {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.basket-list h3 {
  width: 216px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}


.basket-list button {
}

.basket-list button::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 5px;
  top: 20px;
  background-image: url("../img/cross.png");
  background-repeat: no-repeat;
}

.basket-item-img {
  order: -1;
}

.basket-item-img img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.basket-price {
  color: #999999;
}

 .total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin-right: 14px;
  text-align: end;
}

.basket-popup a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700px;
  display: block;
  width: 171px;
  height: 40px;
  padding-top: 12px;
  margin-bottom: 22px;
  text-align: center;
  margin-left: 360px;
}

.basket-list li:last-child {
  position: relative;
}

.basket-list li:last-child::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 65px;
  width: 510px;
  height: 1px;
  background-image: url("../img/line.png");
  background-repeat: repeat;
  z-index: 10;
}

.page-catalog-list {
  list-style: none;
}

.frontpage-item-price,
.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.pagination-list {
  list-style: none;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.header-nav {
  display: flex;
  min-height: 85px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  align-items: center;
}

.main-nav {
  display: flex;
  width: 560px;
  align-items: center;
  margin-right: auto;
  margin-bottom: 10px;
}

.main-nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 395px;
}

.main-nav-list li {
  margin-left: 25px;
}

.user-nav {
  display: flex;
  width: 270px;
  margin-left: auto;
  justify-content: flex-end;
}

.user-nav div {
  margin-left: 10px;
}

.header-contacts {
  display: block;
  width: 170px;
  margin-right: 25px;
  text-align: right;
}

.features {
  min-height: 310px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.main-title {
  padding-top: 30px;
  padding-left: 20px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  width: 1050px;
  justify-content: space-between;
}

.feature-list li {
  width: 485px;
  padding-bottom: 30px;
}

.news {
min-height: 220px;
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}


.blog-new {
border-radius: 15px;
width: 560px;
}

.news-title {
  margin-left: 20px;
}

.blog-new a {
  display: block;
  width: 290px;
  margin-left: 20px;
}

.mailing {
border-radius: 15px;
width: 560px;
}

.mailing p {
  width: 515px;
  margin-left: 20px;
  margin-top: 35px;
}

.mailing form {
  margin-top: 40px;
  margin-left: 20px;
}

.mailing input[type="email"] {
  width: 367px;
  height: 44px;
}

.mailing button[type="submit"] {
  margin-left: 12px;
  height: 44px;
  width: 128px;
}

.main-contacts {
  width: 1200px;
  height: 430px;
  background-image: url("../img/map.png");
}

.main-contacts-info {
  display: inline-block;
  width: 300px;
  min-height: 305px;
  margin-left: 875px;
  margin-top: 70px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
}

.main-contacts-info p,
.main-contacts-info a {
  margin-left: 25px;
  margin-top: 30px;
}

.feedback-open {
  display: block;
  width: 251px;
  height: 34px;
  padding-top: 10px;
}

.footer-social,
.footer-info {
  margin: 0;
  padding: 0;
}

.main-footer {
  display: flex;
  width: 1150px;
  min-height: 110px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  width: 267px;
  display: flex;
  flex-wrap: wrap;
}

.footer-social li {
  margin-right: 11px;
}

.footer-social svg {
  width: 32px;
  height: 32px;
  border: 2px solid #c2cec7;
  border-radius: 50%;
}

.footer-social li:hover path {
  fill: #ffffff;
}

.footer-social path {
  fill: #e6ebe9;
}

.provider-info {
  position: relative;
}

.provider-info::before {
  content: "";
  width: 15px;
  height: 14px;
  position: absolute;
  top: 8px;
  right: 117px;
  background-image: url("../img/heart_icon.svg");
  background-repeat: no-repeat;
}

.footer-info {
display: flex;
width: 310px;
flex-wrap: wrap
}

.footer-info li:nth-child(2) {
  margin-left: 32px;
}

.footer-info li:last-child {
  margin-left: 36px;
}

.footer-copyright img {
  width: 108px;
  height: 39px;
}

.catalog-item-img img {
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.page-catalog-list {
  display: flex;
  width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 265px;
  position: relative;
}

.item-title {
  margin-top: 0;
  text-align: center;
  order: 1;
}

.catalog-item-price {
  position: absolute;
  bottom: 60px;
}
