body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #87a193;
  background-image: url("img/Main_background_1.png");
  background-position: top center;
  background-repeat: no-repeat;
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.user-search a:hover,
.user-search a:focus,
.user-login a:hover,
.user-login a:focus {
  border: none;
  border-radius: 10px;
  background-color: #f7f6f3;
}


.main-nav-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
}

.catalog-list {
  width: 143px;
  height: 171px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-list a {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: normal;
}

.catalog-list li:hover {
background-color: #fbded8;
}

.catalog-list li:first-child a{
font-weight: bold;
}

.user-nav a, .header-contacts {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: medium;
}

.header-contacts, .main-contact, .provider-info {
font-weight: bold;
}

.header-contact {
font-size: 22px;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: medium;
  color: #323232;
}

.feature-list {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background-color: #e5d4b1;
  background-image: url("img/Waffle_pattern.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.blog-new {
  text-decoration: underline;
  background-color: #ffffff;
  background-image: url("img/Strawberry_background.png");
}

h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #323232;
}

.blog-new a{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

.mailing {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.main-contacts {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fffffe;
}

.footer-info a, .footer-social a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.footer-copyright, .footer-copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}


.search-popup {
    width: 341px;
    height: 84px;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-popup {
    width: 277px;
    height: 214px;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  }

.login-popup a {
  color: #323232;
  text-decoration: underline;
}


.feedback-popup {
  width: 478px;
  height: 443px;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
}

.feedback-popup p {
  font-size: 24px;
  line-height: 28px;
  font-weight: medium;
  color: #323232;
}


input[type="search"], input[type="email"], input[type="password"], input[type="text"] {
  font: inherit;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 315px;
  height: 48px;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #ed5a3d;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.modal {
  color: #323232;
  background-color: #f8f7f4;
  text-align: left;
}

.catalog-item:hover {
  width: 293px;
  height: 405px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
